<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ftc-dusty-font" style="font-size: 200%; margin-left: 15px;">Choose a deli</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-grid>
    <ion-row *ngFor="let shop of shops" (click)="confirmShop(shop)">
      <ion-col class="ftc-dusty-font ftc-button-menu shop_description">
        <p>{{ shop.name }}</p>
        <p>{{ shop.address }}</p>
        <p *ngIf="!shop.available" class="shop_closed">This deli is closed at this moment.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>