page-shop {
    .shop_closed {
        color: red;
        font-style: italic;
        opacity: 0.8;
    }

    .shop_description p {
        text-align: justify;
        word-wrap: break-word;
    }
}
