<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ftc-dusty-font" style="font-size: 200%;">Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="checkout-card" *ngIf="partialValue == 0">
    <ion-item class="checkout-total">
      <p class="primary-color" text-center>Your cart is empty.</p>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let item of checkoutItems">
    <ion-item class="checkout-item">
      <h1 class="primary-color"><b>{{ item.menu_item.name }}</b></h1>
      <p class="primary-color"><b>Type: </b>{{ item.menu_item.type.name }}</p>
      <p class="primary-color" *ngIf="item.checkout_item_extras.length > 0"><b>Extras: </b></p>
      <p padding-left class="primary-color" *ngFor="let extra of item.checkout_item_extras">{{ extra.menu_extra.name }}</p>
      <p class="primary-color"><span float-left style="margin-top: 4px;"><b>Quantity: </b></span>
        <span float-right style="margin-top: 4px; margin-left: 8px;">x{{ item.quantity }}</span>
        <span float-right>
          <button ion-button icon-only clear class="checkout-item-button" style="margin-top: 0px; margin-left: 8px;" (click)="plusMenuItem(item.id)">
              <ion-icon name="add-circle"></ion-icon>
          </button>
        </span>
        <span float-right>
          <button ion-button icon-only clear class="checkout-item-button" style="margin-top: 0px; margin-left: 8px;" (click)="minusMenuItem(item.id, item.quantity)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </span>
      </p>
      <p class="primary-color"><span float-left><b>Price: </b></span><span float-right>{{ item.unitary_price | currency:"£" }}</span></p>
      <p class="divider"></p>
      <p class="primary-color"><span float-left><b>Total: </b></span><span float-right>{{ item.total_price | currency:"£" }}</span></p>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button icon-only clear float-right (click)="showYesNoDialog(item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="checkout-card">
    <ion-item class="checkout-total">
      <p class="primary-color"><span float-left><b>Subtotal: </b></span><span float-right>{{ partialValue | currency:"£" }}</span></p>
      <ng-template [ngIf]="delivery">
        <p class="primary-color"><span float-left><b>Delivery Fee: </b></span><span float-right>{{ deliveryFee | currency:"£" }}</span></p>
      </ng-template>
      <p class="primary-color"><span float-left style="margin-top: 4px;"><b>Rider Tip: </b></span>
        <span float-right style="margin-top: 4px; margin-left: 8px;">{{ riderTip | currency:"£" }}</span>
        <span float-right>
          <button ion-button icon-only clear class="checkout-item-button" style="margin-top: 0px; margin-left: 8px;" (click)="plusRiderTip($event)">
              <ion-icon name="add-circle"></ion-icon>
          </button>
        </span>
        <span float-right>
          <button ion-button icon-only clear class="checkout-item-button" style="margin-top: 0px; margin-left: 8px;" (click)="minusRiderTip($event)">
            <ion-icon name="remove-circle"></ion-icon>
          </button>
        </span>
      <p class="divider"></p>
      <p class="primary-color"><span float-left><b>Total: </b></span><span float-right>{{ totalValue | currency:"£" }}</span></p>
    </ion-item>
  </ion-card>

  <ion-card class="checkout-card">
    <ion-item>
      <ion-textarea maxlength="500" [(ngModel)]="checkoutMessage" rows="3" cols="12" placeholder="Something else? Tell us..."></ion-textarea>
    </ion-item>
  </ion-card>

  <div padding-bottom class="card-md checkout-card">
    <ion-list radio-group [(ngModel)]="deliverOrCollect">
      <ion-grid>
        <ng-template [ngIf]="delivery">
          <ion-row style="background: white;">
            <ion-col col-12>
              <ion-item>
                <ion-label class="primary-color bold">Deliver it at my address</ion-label>
                <ion-radio value="deliver_address" (ionSelect)="setDeliverOrCollect('deliver_address')"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-template>
        <ion-row style="background: white;">
          <ion-col col-12>
            <ion-item>
              <ion-label class="primary-color bold">Deliver it at my table</ion-label>
              <ion-radio value="deliver_table" (ionSelect)="setDeliverOrCollect('deliver_table')"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="background: white;">
          <ion-col col-12>
            <ion-item>
              <ion-label class="primary-color bold">I will collect it</ion-label>
              <ion-radio value="collect" (ionSelect)="setDeliverOrCollect('collect')"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <div padding *ngIf="partialValue > 0"><button ion-button full round (click)="confirmCheckout()">Confirm</button></div>
  </div>
</ion-content>
